.contactContainer {
  padding-bottom: 20px;
}

.textWrap {
  text-align: center;
}

.contactInfo {
  padding-bottom: 5px;
}

.mediaWrap > ul {
  color: var(--text-primary);
  display: inline;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* max-width: 80px; */
  margin: 0 auto;
}
