* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
  color: var(--text-primary);
}

/* body {
    margin: auto;
  } */

html {
  scroll-behavior: smooth;
}

/* main {
    background-color: var(--background);
  } */

.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 92px;
  padding-left: 30px;
  padding-right: 30px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none; 
  color: inherit; 
}

h3 {
  text-align: center;
  font-size: 2em;
  /* font-family: sans-serifcinzel, serif; */
  font-weight: lighter;
  padding-top: 50px;
  padding-bottom: 20px;
  letter-spacing: 0.1em;
}

:root {
  --background: #fff;
  --background-secondary: black;
  --text-primary: black;
  --text-secondary: #fff;
  --text-green: #66ff66;
  /* --header-transition: transform 360ms cubic-bezier(0.4, 0, 0.2, 1); bug when user reduces screen  */
}

/*Footer*/
footer {
  padding: 30px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }
}
