* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background: #fff;
  --background-secondary: black;
  --text-primary: black;
  --text-secondary: #fff;
  --text-color: #807670;
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
  color: var(--text-primary);
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

/* Footer bottom CSS */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1; /* Pushes the footer down */
}

.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px 92px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  text-align: center;
  font-size: 2em;
  /* font-family: sans-serifcinzel, serif; */
  font-weight: lighter;
  padding-top: 50px;
  padding-bottom: 20px;
  letter-spacing: 0.1em;
}

/*Underline on hover*/
.underlineHoverEffect {
  position: relative;
}

.underlineHoverEffect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--text-primary);
  transition: width 0.25s ease-out;
}

.underlineHoverEffect:hover::before {
  width: 100%;
}

/*Footer*/
footer {
  padding: 30px;
  text-align: center;
}
