.workGrid img {
  border-radius: 24px;
}


/* not used at the moment */
.gridImage {
  transition: transform 0.3s ease, opacity 0.3s ease;

  width: 100%;
  height: auto; /* Maintains aspect ratio */
  object-fit: contain; /* Ensures the entire image is visible */
  max-width: 100%; /* Ensures images don’t overflow */
  max-height: 350px; /* Adjust this value based on your layout */
}

.gridItem:hover .gridImage {
  /* transform: scale(1.02);
    opacity: 0.9; */
}
